<div class="container mt-5">
  <!-- Card for attendance form -->
  <div class="card">
    <div class="card-header">
      <h4>Submit Attendance</h4>
    </div>
    <div class="card-body">
      <form #attendanceForm="ngForm" (ngSubmit)="submitAttendance(attendance)" novalidate>
        
        <!-- Employee ID -->
        <div class="mb-3">
          <label for="empId" class="form-label">Employee ID</label>
          <input 
            type="number" 
            id="empId" 
            name="empId"
            [(ngModel)]="attendance.empId" 
            class="form-control"
            [class.is-invalid]="empId.invalid && empId.touched"
            required 
            #empId="ngModel" 
          />
          <div *ngIf="empId.invalid && empId.touched" class="invalid-feedback">
            Employee ID is required.
          </div>
        </div>

        <!-- Work Date -->
        <div class="mb-3">
          <label for="workDate" class="form-label">Work Date</label>
          <input 
            type="date" 
            id="workDate" 
            name="workDate"
            [(ngModel)]="attendance.workDate" 
            class="form-control"
            [class.is-invalid]="workDate.invalid && workDate.touched"
            required 
            #workDate="ngModel" 
          />
          <div *ngIf="workDate.invalid && workDate.touched" class="invalid-feedback">
            Work date is required.
          </div>
        </div>

        <!-- Hours Worked -->
        <div class="mb-3">
          <label for="hoursWorked" class="form-label">Hours Worked</label>
          <input 
            type="number" 
            id="hoursWorked" 
            name="hoursWorked"
            [(ngModel)]="attendance.hoursWorked" 
            class="form-control"
            [class.is-invalid]="hoursWorked.invalid && hoursWorked.touched"
            required 
            min="0" 
            max="24" 
            #hoursWorked="ngModel" 
          />
          <div *ngIf="hoursWorked.invalid && hoursWorked.touched" class="invalid-feedback">
            Hours worked is required
          </div>
        </div>

        <!-- Attendance Status -->
        <div class="mb-3">
          <label for="attendanceStatus" class="form-label">Attendance Status</label>
          <input 
            type="text" 
            id="attendanceStatus" 
            name="status"
            [(ngModel)]="attendance.status" 
            class="form-control"
            [class.is-invalid]="status.invalid && status.touched"
            required 
            #status="ngModel" 
          />
          <div *ngIf="status.invalid && status.touched" class="invalid-feedback">
           Required Present Absent or On Leave
          </div>
        
        </div>
        

        <button type="submit" class="btn btn-primary" [disabled]="attendanceForm.invalid">Submit</button>
      </form>
    </div>
  </div>
</div>
