

<div class="container">
  <div class="row">
    <div class="section">
      <h3>Deductions Management</h3>
      <div class="links">
        <a routerLink="/payroll-processor-dashboard/add-deduction" class="btn btn-primary">Add Deduction</a>
        <a routerLink="/payroll-processor-dashboard/get-deduction" class="btn btn-success">Get Deductions</a>
      </div>
    </div>

    <div class="section">
      <h3>Benefits Management</h3>
      <div class="links">
        <a routerLink="/payroll-processor-dashboard/add-benefits" class="btn btn-primary">Add Benefit</a>
        <a routerLink="/payroll-processor-dashboard/get-benefits" class="btn btn-success">Get Benefits</a>
      </div>
    </div>

    <div class="section">
      <h3>Payment Processing</h3>
      <div class="links">
        <a routerLink="/payroll-processor-dashboard/process-payment" class="btn btn-info">Process Payment</a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>