<h1>Display Deductions</h1>

<div class="container">
  <div class="button-group">
    <!-- Form to Search for a Deduction by ID -->
    <form #deductionForm="ngForm" (ngSubmit)="getDeductionById(deductionForm.value.deductionId)" class="search-form">
      <label for="deductionId" class="sr-only">Search Deduction by ID:</label>
      <div class="input-group">
        <input type="number" id="deductionId" name="deductionId" class="form-control" ngModel required placeholder="Enter Deduction ID">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>

    <!-- Button to View All Deductions -->
    <button type="button" class="btn btn-success" (click)="getAllDeductions()">View All Deductions</button>
  </div>

  <br>

  <!-- Display Deduction Details -->
  <div *ngIf="selectedDeduction" class="mt-4">
    <h3>Deduction Details</h3>
    <table class="table table-bordered">
      <tr><th>Field</th><th>Value</th></tr>
      <tr><td>Deduction ID</td><td>{{selectedDeduction.deductionId}}</td></tr>
      <tr><td>Deduction Name</td><td>{{selectedDeduction.deductionName}}</td></tr>
      <tr>
        <td>Deduction Amount</td>
        <td>{{selectedDeduction.deductionAmount}}</td>
        <td>
          <button [routerLink]="['/payroll-processor-dashboard/editded', selectedDeduction.deductionId]" class="btn btn-warning btn-sm">Update</button>
          <button type="button" (click)="deleteDeduction(selectedDeduction.deductionId)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
  </div>

  <br>

  <!-- Display All Deductions -->
  <div *ngIf="deductionList.length > 0" class="mt-4">
    <h3>All Deductions</h3>
    <table class="table table-dark">
      <tr>
        <th>Deduction ID</th>
        <th>Deduction Name</th>
        <th>Deduction Amount</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let deduction of deductionList">
        <td>{{deduction.deductionId}}</td>
        <td>{{deduction.deductionName}}</td>
        <td>{{deduction.deductionAmount}}</td>
        <td>
          <button [routerLink]="['/payroll-processor-dashboard/editded', deduction.deductionId]" class="btn btn-warning btn-sm">Update</button>
          <button type="button" (click)="deleteDeduction(deduction.deductionId)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>

<router-outlet></router-outlet>