<div class="container">
    <div class="row">
      <div class="section">
        <h3>Team Payroll Management</h3>
        <div class="links">
          <a routerLink="/manager-dashboard/viewteampayrolls" class="btn">View Team Payrolls</a>
        </div>
      </div>
      
      <div class="section">
        <h3>Leave Management</h3>
        <div class="links">
          <a routerLink="/manager-dashboard/updateleaverequest" class="btn">Update Leave Request</a>
        </div>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>