
<div class="container">
  <div class="row">
    <div class="section">
      <h3>Employee Management</h3>
      <div class="links">
        <a routerLink="/hr-dashboard/add-employee" class="btn btn-primary">Add Employee</a>
        <a routerLink="/hr-dashboard/get-all-employee" class="btn btn-success">Get Employee</a>
      </div>
    </div>
    
    <div class="section">
      <h3>Compliance Management</h3>
      <div class="links">
        <a routerLink="/hr-dashboard/add-compliance-report" class="btn btn-primary">Add Compliance Report</a>
        <a routerLink="/hr-dashboard/get-compliance-report" class="btn btn-success">Get Compliance Report</a>
      </div>
    </div>

    <div class="section">
      <h3>Payroll Management</h3>
      <div class="links">
        <a routerLink="/hr-dashboard/add-payrollpolicy" class="btn btn-primary">Add Payroll Policy</a>
        <a routerLink="/hr-dashboard/get-payrollpolicy" class="btn btn-success">Get Payroll Policy</a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>