<div class="container">
    <div class="row">
      <div class="section">
        <h3>Personal Management</h3>
        <div class="links">
          <a routerLink="/employee-dashboard/updateempdetails" class="btn">Update Personal Details</a>
        </div>
      </div>
      
      <div class="section">
        <h3>Payroll</h3>
        <div class="links">
          <a routerLink="/employee-dashboard/getpaystubs" class="btn">View PayStubs</a>
        </div>
      </div>
  
      <div class="section">
        <h3>Attendance & Leave</h3>
        <div class="links">
          <a routerLink="/employee-dashboard/submitattendance" class="btn">Submit Attendance</a>
          <a routerLink="/employee-dashboard/requestleave" class="btn">Request Leave</a>
        </div>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>